<%- include ('partials/header.ejs') %>
    <h1>Pagina clientes</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-secondary">
            <th>Nome</th>
            <th>Cpf</th>
            <th>Endereco</th>
        </thead>

        <tbody>
            <!-- para cada cliente vai criar uma linha na tabela, forEach -->
             <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.nome%></td>
                    <td><%= cliente.cpf %></td>
                    <td><%= cliente.endereco %></td>
                </tr>
             <% }) %>
            <tr>

            </tr>
        </tbody>
    </table>
    
    <a href="/">Voltar</a>
<%- include ('partials/footer.ejs') %>
