<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Alterar pedido</h1>
            </div>
            <div class="card-body">
                <!-- formulario -->
                 <form action="/pedidos/update" method="post">
                    <input type="hidden" name="id" value="<%= pedido.id %>">
                    <label>Número Pedido</label>
                    <input type="text" name="numero" placeholder="Insira o numero do pedido" class="form-control" value="<%= pedido.numero %>" required>
                    <label>Valor do pedido</label>
                    <input type="text" name="valor" placeholder="Insira o valor do pedido" class="form-control" value="<%= pedido.valor %>" required>

                    <input  onclick="return confirm('Confirma as alterações realizadas para o pedido <%= pedido.numero %>?')" type="submit" class="btn btn-warning" value="alterar">

                    <a href="/pedidos"></a>
                    <input type="button" class="btn btn-danger" value="Cancelar">
                 </form>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>